/*body样式*/
body {
    /*background-color: aquamarine;*/
    width: 1920px;
    height: 1231px;
    overflow: auto;
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 88px;
    background: #282b33;
}
.header .logo{
    width: 100%;
    height: 100%;
}
.header .logo img {
    width: 146px;
    height: 49px;
    margin: 20px 0 0 360px;
}



.content{
    width: 100%;
    height: 1128px;
    background: rgb(238,238,238);
    position: relative;
    padding-top: 15px;
}
.content .baseInfoInput {
    width: 1200px;
    height: 945px;
    background: #ffffff;
    margin:0 auto;
    padding-top: 30px;
}
.content .baseInfoInput .baseInfoInputHeader{
    margin-left: 385px;
}
.content .baseInfoInput .baseInfoInputHeader .baseInfoInputHeaderUl{
    position: relative;
}
.content .baseInfoInput .baseInfoInputHeader .baseInfoInputHeaderUl li{
    width: 170px;
    height: 32px;
    background: url("../img/register/element_1.png") no-repeat;
    float: left;
    /*margin-right: -15px;*/
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #282b33;
    position: absolute;
}
.content .baseInfoInput .baseInfoInputHeader .baseInfoInputHeaderUl li:nth-child(1) {
    background: url("../img/register/element.png") no-repeat 12px 0;
    width: 145px;
    left: 10px;
    z-index: 4;
}
.content .baseInfoInput .baseInfoInputHeader .baseInfoInputHeaderUl li:nth-child(2) {
    top: 0;
    left: 100px;
    z-index: 3;
}
.content .baseInfoInput .baseInfoInputHeader .baseInfoInputHeaderUl li:nth-child(3) {
    top: 0;
    left: 190px;
    z-index: 2;
}
.content .baseInfoInput .baseInfoInputHeader .baseInfoInputHeaderUl li:nth-child(4) {
    top: 0;
    left: 275px;
    z-index: 1;
}
.content .baseInfoInput .baseInfoInputContent{
    clear: both;
    margin-top: 93px;
    margin-left: 228px;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl .baseInfoInputContentUlSpan{
    float: left;
    width: 90px;
    height: 40px;
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: justify-all;
    line-height: 40px;
    color: #333333;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl li{
    margin-bottom: 17px;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl .baseInfoInputContentUlInput{
    width: 650px;
    height: 40px;
    padding: 0 10px;
    overflow: auto;
    _background-attachment: fixed;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl .baseInfoInputContentUlInputSecond{
    width: 266px;
    height: 38px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 0 10px;
    overflow: auto;
    _background-attachment: fixed;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl .baseInfoInputContentUlSelectFirst{
    height: 40px;
    width: 650px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl .baseInfoInputContentUlSelectSecond{
    height: 40px;
    width: 120px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    margin-right: 3px;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl textarea{
    width: 650px;
    height: 80px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
    resize: none;
    _background-attachment: fixed;
    margin-bottom: 17px;
}


.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl li:last-child{
    width: 390px;
    height: 50px;
    background: linear-gradient(-90deg,#415bf6 0%, #6073f6 100%);
    border-radius: 5px;
    margin-left: 200px;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl li:last-child a{
    float: left;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    color: white;
    letter-spacing: 11px;
}
.content .baseInfoInput .baseInfoInputContent .baseInfoInputContentUl li:last-child a:hover{
    background-color: #195bb4;
    border-radius: 5px;
}


.footer{
    width: 100%;
    height:312px;
    /*background-color: #ff1;*/
    position: relative;
}
.footer .footerContent {
    width: 915px;
    height: 75px;
    /*background-color: #5f8dff;*/
    position: absolute;
    top: 70px;
    left: 503px;
}

.footer .footerContent .firstRow .firstRowSpan{
    font-size: 18px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: bold;
    color: #333333;
}
.footer .footerContent .firstRow{
    margin-bottom: 40px;
}
.footer .footerContent .secondRow{
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    color: #565656;
}
.footer .footerContent .secondRow span:nth-child(1),
.footer .footerContent .secondRow span:nth-child(2){
    margin-right: 45px;
}

ul{
    text-decoration: none;
}

