/*body样式*/
body {
    /*background-color: aquamarine;*/
    width: 97%;
    /*height: 1080px;*/
    overflow: auto;
}
.bigTransparentModule {
    width: 100%;
    height:1332px;
    background-color: #b5b5b5;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.hiddenModule{
    /*display: none;*/
}
.smallModule{
    width: 1200px;
    height:858px;
    background-color: white;
    position: absolute;
    top:173px;
    left: 433px;
    z-index: 200;
    margin: 0 auto;
    overflow: auto;
}
.smallModule .memmberInfo {
    width: 100%;
    height: 151px;
    /*background-color: #5f8dff;*/
}

.smallModule .memmberInfo .memmberInfoHeader{
    width: 100%;
    height: 60px;
    background-color:rgb(241,245,255);
    position: relative;
}
.smallModule .memmberInfo .memmberInfoHeader .bigDeleteX{
    width: 22px;
    height: 22px;
    background: url("../images/common/bigDelete.png") no-repeat center;
    position:absolute;
    left: 1148px;
    top:18px;
    border: none;
}
.smallModule .memmberInfo .memmberInfoContent{
    width: 100%;
    height: 91px;
    /*background-color: #b5b5b5;*/
    position: relative;
}
.smallModule .memmberInfo .memmberInfoContent > div{
    float: left;
}
.smallModule .memmberInfo .memmberInfoContent > div:nth-child(1){
    position: absolute;
    left:60px;
    top:25px;
}
.smallModule .memmberInfo .memmberInfoContent > div:nth-child(2){
    position: absolute;
    left:400px;
    top:25px;
}
.smallModule .memmberInfo .memmberInfoContent > div:nth-child(3){
    position: absolute;
    left:740px;
    top:25px;
}
.smallModule .goodsInfo {
    width: 100%;
    /*height: 469px;*/
    /*background-color: #a6a8f0;*/
}
.smallModule .goodsInfo .goodsInfoHeader{
    width: 100%;
    height:60px;
    background-color:rgb(241,245,255);
}
.smallModule .goodsInfo .goodsInfoContent{
    width: 100%;
    /*height:900px;*/
    background-color: white;
    position: relative;
}
.smallModule .goodsInfo .goodsInfoContent .goodName{
    position: absolute;
    left:60px;
    top:20px;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent {
    width: 1099px;
    /*height: 228px;*/
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable{
    width: 100%;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination {
    width: 1099px;
    height: 120px;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable thead tr
{
    height: 50px;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable thead tr td
{
    text-align: center;
    font-size: 12px;
    height: 100%;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: bold;
    color: #333333;
    line-height: 50px;
    z-index: 20000;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td
{
    text-align: center;
    height: 100%;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 400;
    color: #333333;
    line-height: 50px;
    font-size: 14px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    color: #333333;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(1){width: 9.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(2){width: 14.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(3){width: 14.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(4){width: 14.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(5){width: 10.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(6){width: 11.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(7){width: 9.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(8){width: 9.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(9){width: 9.11%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tbody tr:nth-child(odd){
    background-color: #ccd2de;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tbody tr:hover{
    background-color: #a6a8f0;
}

.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivFirstZero{
    font-size: 14px;
    font-family: Source Han Sans CN Medium, Source Han Sans CN Medium-Medium;
    font-weight: 500;
    color: #6d6d6d;
    position: absolute;
    top: 30px;
    left: 400px;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivFirst input{
    width: 60px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    position: absolute;
    top: 33px;
    left: 800px;
    z-index: 1;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivFirst .footerPaginationDivBtn{
    position: absolute;
    top: 35px;
    left: 880px;
    background: #487cf7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.speialDiv{
    position: relative;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond{
    position: absolute;
    top: 5px;
    left: 545px;
    /*background-color: #282b33;*/
    height: 100%;
    width: 150px;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputFirst{
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/left.png") no-repeat center center;
    position: absolute;
    left: 440px;
    top: 30px;
    border: none;
    cursor: pointer;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputThird{
    width: 26px;
    height: 35px;
    position: absolute;
    left: 480px;
    top: 30px;
    border: none;
    z-index: 100;
    text-align: center;
    background-color: #b5b5b5;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputSecond{
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/right.png") no-repeat center center;
    position: absolute;
    left: 508px;
    top: 30px;
    border: none;
    cursor: pointer;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent{
    position: absolute;
    left:60px;
    top:20px;
}
.smallModule .ordersInfo {
    width: 1182px;
    height: 304px;
    position: relative;
    left: -60px;
}
.smallModule .ordersInfo .ordersInfoHeader{
    width: 100%;
    height: 60px;
    background-color:rgb(241,245,255);
}
.smallModule .ordersInfo .ordersInfoContent{
    width: 100%;
    height: 244px;
    /*background-color: #195bb4;*/
    position: relative;
}
.smallModule .ordersInfo .ordersInfoContent .col {
    float: left;
    margin-right: 10px;
    line-height: 40px;
    font-size: 16px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
}
.smallModule .ordersInfo .ordersInfoContent .col:nth-child(1){
    width:450px;
    height: 50%;
    margin-left: 50px;
    position: absolute;
    top:35px;
    /*background-color: #e54b3f;*/
}
.smallModule .ordersInfo .ordersInfoContent .col:nth-child(2){
    width: 300px;
    height: 50%;
    position: absolute;
    top:35px;
    left: 450px;
    /*background-color: #282b33;*/
}
.smallModule .ordersInfo .ordersInfoContent .col:nth-child(3){
    width: 200px;
    height: 50%;
    position: absolute;
    top:35px;
    left: 750px;
    /*background-color: #a6a8f0;*/
}
.fontIntroduceCreaterOrder{
    float: left;
    height: 100%;
    line-height: 60px;
    margin-left: 30px;
    font-size: 18px;
    font-family: Source Han Sans CN Bold, Source Han Sans CN Bold-Bold;
    font-weight: 700;
    color: #333333;
}
.fontMemmberInfoContent{
    font-size: 14px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    font-weight: 400;
    text-align: left;
    color: #565656;
    margin-right: 5px;
}


/*左侧logo和导航栏样式*/
.left{
    /*background-color: chartreuse;*/
    height: 100%;
    width: 14%;
    _width: 13%;
    float: left;
}
.left .logo{
    width: 100%;
    height: 88px;
    background: linear-gradient(#383a43 0%, #292b35 100%);
}
.left .logo img {
    width: 146px;
    height: 49px;
    margin: 20px 0 0 50px;
}


.left .leftNav{
    width: 100%;
    height: 1224px;
    background: #424651;
}
.leftNav .nav {
    width: 100%;
    height: 100%;
    list-style: none;
}
.leftNav .nav li{
    width: 100%;
    height: 60px;
    background: #424651;
}
.leftNav .nav .highLights,
.leftNav .nav li:hover{
    background: linear-gradient(#4077f8 1%, #373a43 100%);
}
.leftNav .nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: left;
    color: #a0abbf;
    line-height: 60px;
    letter-spacing: 1px;
    padding-left: 60px;
    _width: 86px;
}
.leftNav .nav li a .leftNavIcon {
    /*display: inline-block;*/
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 35px;
    margin-top: 19px;
}
.leftNav .nav li:nth-child(1) .leftNavIcon{
    background: url("../images/index/home.png") no-repeat;
}
.leftNav .nav li:nth-child(2) .leftNavIcon{
    background: url("../images/index/order.png") no-repeat;
}
.leftNav .nav li:nth-child(3) .leftNavIcon{
    background: url("../images/index/inventory.png") no-repeat;
}
.leftNav .nav li:nth-child(4) .leftNavIcon{
    background: url("../images/index/drug.png") no-repeat;
}
.leftNav .nav li:nth-child(5) .leftNavIcon{
    background: url("../images/index/account.png") no-repeat;
}
.leftNav .nav li:nth-child(6) .leftNavIcon{
    background: url("../images/index/agent.png") no-repeat;
}
.leftNav .nav li:nth-child(7) .leftNavIcon{
    background: url("../images/index/store.png") no-repeat;
}
.leftNav .nav li a .leftNavTangle {
    display: inline-block;
    /*float: right;*/
    width: 10px;
    height: 5px;
    background: url("../images/index/down arrow.png") no-repeat;
    margin: 29px 0 0 50px;
    padding: 0;
}
.leftNav .nav li .left-index{
    text-align: left;
    padding-left: 60px;
    _width: 86px;
}
.leftNav .nav li .left-index .leftNavTangle{
    margin-left: 80px;
}


/*右侧导航栏和内容区样式*/
.right {
    background-color: cadetblue;
    height: 100%;
    width: 86%;
    _width: 83%;
    float: left;
}
.right .rightNav{
    width: 100%;
    height: 18px;
    background: #ffffff;
    padding: 33px 30px 37px 30px;
}
.right .rightNav .shopInfo .blueIcon{
    float: left;
    width: 26px;
    height: 26px;
    margin-right: 14px;
    margin-top: -3px;
    background: url("../images/index/hospital.png");
}
.right .rightNav .pharmacyName{
    width: 96px;
    height: 18px;
    font-size: 18px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: bold;
    text-align: left;
    color: #487cf7;
    letter-spacing: 1px;
}
.right .rightNav .shopInfo{
    margin-left: 20px;
}
.right .rightNav .controlBoard .smallIcon{
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 12px;
    margin-top: -2px;
}
.right .rightNav .controlBoard div:nth-child(1) .smallIcon{
    background: url("../images/index/me.png") no-repeat;
}
.right .rightNav .controlBoard div:nth-child(2) .smallIcon{
    background: url("../images/index/date.png") no-repeat;
}
.right .rightNav .controlBoard{
    float: right;
    margin-right: 60px;
}
.fontIntroduce{
    margin-left: 20px;
}
.right .rightNav .controlBoard .adminAccount,
.right .rightNav .controlBoard .joinDate,
.right .rightNav .controlBoard .changepwd,
.right .rightNav .controlBoard .logout{
    float: left;
    margin-left: 15px;
}
.right .rightNav .controlBoard .adminAccount,
.right .rightNav .controlBoard .joinDate{
    margin-top: 8px;
}

.right .content {
    background-color: rgb(238,238,238);
    width: 100%;
    height: 1204px;
    padding: 21px 0 0 40px;
}

.right  .content .contentTop {
    width: 1530px;
    *width : 1625px;
    height: 230px;
    background-color: #fff;
}

.right  .content .contentMiddle {
    width: 1530px;
    height: 118px;
    margin: 20px 0 20px 0px;
    /*background-color: #e7e7e7;*/
}
.right  .content .contentBottom {
    width: 1510px;
    height: 778px;
    background-color: #e7e7e7;
}
.right  .content .contentTop .firstRow .btnDiv {
    float: left;
    width: 80px;
    height: 31px;
    margin-right: 8px;
    margin-top: 31px;
}
.right  .content .contentTop .firstRow .btnDiv:first-child{
    margin-left: 16px;
}
.right  .content .contentTop .firstRow .btnDiv:last-child{
    margin-right: 30px;
}
.right  .content .contentTop .firstRow .dateFilter {
    margin-top: 24px;
    margin-left: 20px;
    float: left;
    width: 600px;
    height: 40px;
    /*background-color: #e54b3f;*/
}
.right  .content .contentTop .firstRow .dateFilter .fontDescribe{
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    color: #565656;
    margin-right: 10px;
}
.right .content .inputWh{
    width: 160px;
    height: 39px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 16px 1px rgba(212,212,212,0.53);
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: center;
    color: #aaaaaa;
}
.right .content .selectWh{
    width: 160px;
    height: 42px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 16px 1px rgba(212,212,212,0.53);
    margin-left: 6px;
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: center;
    color: #aaaaaa;
}
hr{
    display: inline-block;
    width: 22px;
    color: #b5b5b5;
    margin: 0 4px;
}
.right  .content .contentTop .secondRow {
    padding-top: 35px;
    clear: both;
}
.right  .content .contentTop .secondRow .first{
    float: left;
    background: url("../images/index/orderInfo/clinch a deal.png") no-repeat;
}
.right  .content .contentTop .secondRow .second{
    float: left;
    margin-left: -80px;
    background: url("../images/index/orderInfo/clinch a deal_1.png") no-repeat;
}

.right .content .contentTop .secondRow .totalAmount,
.right .content .contentTop .secondRow .fontInstruction{
    position: absolute;
}
.right .content .contentTop .secondRow .totalAmount{
    left: 34px;
    top: 18px;
    font-size: 26px;
    font-family: "Source Han Sans CN Bold", "Source Han Sans CN Bold-Bold";
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
.right .content .contentTop .secondRow .fontInstruction{
    left: 34px;
    top: 64px;
    font-size: 14px;
    font-family: "Source Han Sans CN Bold", "Source Han Sans CN Bold-Bold";
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}
.right .content .contentMiddle{
    padding-top: 30px;
    padding-left: 20px;
}
.right .content .contentMiddle .contentMiddleNextDiv{
    float: left;
    margin-right: 20px;
}
.right .content .contentMiddle .contentMiddleSecondRow{
    clear: both;
}
.right .content .contentMiddle .contentMiddleSecondRow .btnDiv{
    float: left;
    width: 80px;
    height: 31px;
    margin-right: 30px;
    margin-top: 31px;
}
.right .content .contentMiddle .contentMiddleSecondRow .btnDiv .queryInput {
    width: 100px;
    height: 40px;
    background: #487cf7;
    border-radius: 3px;
    border: none;
}
.right .content .contentMiddle .contentMiddleSecondRow .btnDiv .resetInput {
    width: 100px;
    height: 40px;
    background: #f7423f;
    border-radius: 3px;
    border: none;
}
.right .content .contentBottom{
    padding: 10px 10px 0 10px;
}
.right .content .contentBottom .bottomTable {
    text-align: center;
    /*border: 1px blue solid;*/
    width: 100%;
}
.right .content .contentBottom .bottomTable thead tr {
    height: 50px;
}
.right .content .contentBottom .bottomTable thead tr td{
    width: 11.14%;
    text-align: center;
    font-size: 12px;
    height: 100%;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: bold;
    color: #333333;
    line-height: 50px;
    /*border: 1px blue solid;*/
}
.right .content .contentBottom .bottomTable tbody tr td{
    width: 11.14%;
    text-align: center;
    height: 100%;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 400;
    color: #333333;
    line-height: 50px;
    /*border: 1px blue solid;*/
    font-size: 14px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    color: #333333;
}
.right .content .contentBottom .bottomTable tbody tr:hover,
.right .content .contentBottom .bottomTable thead tr:hover{
    background-color: #a6a8f0;
}

.right .content .contentBottom .bottomTable tbody tr:nth-child(even){
    background-color: #ccd2de;
}
.right .content .contentBottom .bottomTable tbody tr td .tableInputButton{
    width: 50px;
    height: 30px;
    opacity: 0.3;
    background: #fff;
    border-radius: 2px;
    font-size: 14px;
    font-family:" Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: center;
    color: darkblue;
    cursor: pointer;
}
.right .content .contentBottom .bottomTable tbody tr td .tableInputButton:hover{
    opacity: 0.8;
}
.right .content .contentBottom .bottomTable tfoot tr{
    height: 155px;
}
.right .content .contentBottom .bottomTable tfoot tr td{
    position: relative;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 800px;
    height: 26px;
    /*background-color: #e54b3f;*/
    padding-top: 12px;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDiv{
    float: left;
    font-size: 14px;
    font-family: Source Han Sans CN Medium, Source Han Sans CN Medium-Medium;
    font-weight: 500;
    color: #6d6d6d;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDivFirst input{
    width: 60px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-top: -15px;
    margin-left: 45px;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDivFirst .footerPaginationDivBtn{
    margin-top: -10px;
    margin-left: 20px;
    background: #487cf7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputFirst{
    margin-left: 70px;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDivSecond{
    margin-left: 70px;
    position: relative;
    /*background-color: #282b33;*/
    height: 100%;
    width: 150px;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputFirst {
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/left.png") no-repeat center center;
    position: absolute;
    left: -60px;
    top: -11px;
    border: none;
    cursor: pointer;
}

.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputThird {
    position: absolute;
    width: 26px;
    height: 35px;
    left: 50px;
    top: -11px;
    border: none;
    z-index: 100;
    text-align: center;
    background-color: #b5b5b5;
}
.right .content .contentBottom .bottomTable tfoot tr td .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputSecond {
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/right.png") no-repeat center center;
    position: absolute;
    left: 78px;
    top: -11px;
    border: none;
    cursor: pointer;
}
/*公共部分样式*/
.icon{
    margin-right: 10px;
}
.wh{
    width: 300px;
    height: 120px;
    border-radius: 5px;
    margin-left: 30px;
    /*background-color: #e54b3f;*/
    position: relative;
}
.deepBlueBtn{
    width: 100px;
    height: 40px;
    background: #487cf7;
    border-radius: 20px;
    cursor: pointer;
}
.btnDiv .btn{
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #ccd2de;
    border-radius: 16px;
    cursor: pointer;
}
.btnDiv .blueBtn{
    width: 100%;
    height: 100%;
    background: #487cf7;
    border: 1px solid #487cf7;
    border-radius: 20px;
    cursor: pointer;
}
.blueBtn{
    width: 100px;
    height: 40px;
    background: #d0d7fd;
    border: 1px solid #487cf7;
    border-radius: 20px;
    cursor: pointer;
}
.btn{
    width: 100px;
    height: 32px;
    background: #fff;
    border: 1px solid #ccd2de;
    border-radius: 16px;
}
.jianjie{
    width: 108px;
    height: 18px;
    font-size: 18px;
    font-family: "Source Han Sans CN Bold", "Source Han Sans CN Bold-Bold";
    font-weight: 700;
    text-align: left;
    color: #333333;
}
.accountInfo{
    width: 100px;
    height: 15px;
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: left;
    color: #333333;
    letter-spacing: 1px;
}
.accountPrefix{
    font-weight: bold;
}

