/*body样式*/
body {
    /*background-color: aquamarine;*/
    width: 97%;
    /*height: 1080px;*/
    overflow: auto;
}
.bigTransparentModule {
    width: 100%;
    height:1160px;
    background-color: #b5b5b5;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.hiddenModule{
    /*display: none;*/
}
.hiddenModuleSecond{
    display: none;
}
.smallModule{
    width: 1200px;
    height:924px;
    background-color: white;
    position: absolute;
    top:173px;
    left: 433px;
    z-index: 200;
    margin: 0 auto;
    overflow: auto;
}
.smallModule .selectDrugFrame {
    width: 948px;
    height: 525px;
    background-color:white;
    position: absolute;
    left: 127px;
    top:277px;
    z-index: 20000;
    padding: 23px 18px 0 18px;
    border: 3px solid #a0abbf;
}
.smallModule .selectDrugFrame .tableMemmberInfoContent {
    width: 100%;
    height: 325px;
}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable{
    position: relative;
}

.smallModule .memmberInfo {
    width: 100%;
    height: 151px;
    /*background-color: #5f8dff;*/
}
.smallModule .memmberInfo .memmberInfoHeader{
    width: 100%;
    height: 60px;
    background-color:rgb(241,245,255);
    position: relative;
}
.smallModule .memmberInfo .memmberInfoHeader .bigDeleteX{
    width: 22px;
    height: 22px;
    background: url("../images/common/bigDelete.png") no-repeat center;
    position:absolute;
    left: 1148px;
    top:18px;
    border: none;
}
.smallModule .memmberInfo .memmberInfoContent{
    width: 100%;
    height: 91px;
    /*background-color: #b5b5b5;*/
    position: relative;
}
.smallModule .memmberInfo .memmberInfoContent > div{
    float: left;
}
.smallModule .memmberInfo .memmberInfoContent > div:nth-child(1){
    position: absolute;
    left:60px;
    top:20px;
}
.smallModule .memmberInfo .memmberInfoContent > div:nth-child(2){
    position: absolute;
    left:400px;
    top:20px;
}
.smallModule .memmberInfo .memmberInfoContent > div:nth-child(3){
    position: absolute;
    left:740px;
    top:20px;
}
.smallModule .goodsInfo {
    width: 100%;
    /*height: 469px;*/
    /*background-color: #a6a8f0;*/
}
.smallModule .goodsInfo .goodsInfoHeader{
    width: 100%;
    height:60px;
    background-color:rgb(241,245,255);
}
.smallModule .goodsInfo .goodsInfoContent{
    width: 100%;
    /*height:900px;*/
    background-color: white;
    position: relative;
}
.smallModule .goodsInfo .goodsInfoContent .goodName{
    position: absolute;
    left:60px;
    top:20px;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent {
    width: 1099px;
    /*height: 228px;*/
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable{
    width: 100%;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination {
    width: 1099px;
    height: 120px;
}
.smallModule .selectDrugFrame .footerPagination {
    width: 100%;
    height: 90px;
    position: absolute;
    left:0px;
    top:480px;
    z-index: 20000;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable thead tr
{
    height: 50px;
}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable thead tr
{
    height: 40px;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable thead tr td,
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable thead tr td
{
    text-align: center;
    font-size: 12px;
    height: 100%;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: bold;
    color: #333333;
    line-height: 50px;
    z-index: 20000;
}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable thead tr td{
    line-height: 40px;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td,
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td
{
    text-align: center;
    height: 100%;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 400;
    color: #333333;
    line-height: 50px;
    font-size: 14px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    color: #333333;
}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td{
    line-height: 40px;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(1){width: 10.5%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(2){width: 14.5%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(3){width: 14.5%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(4){width: 14.5%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(5){width: 9.5%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(6){width: 11.5%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(7){width: 9.5%;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tr td:nth-child(8){width: 15.5%;position: relative;z-index: 19999;}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tbody tr:nth-child(odd){
    background-color: #ccd2de;
}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(1){width: 10.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(2){width: 14.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(3){width: 14.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(4){width: 14.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(5){width: 9.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(6){width: 11.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(7){width: 9.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tr td:nth-child(8){width: 15.5%;}
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tbody tr:nth-child(odd){
    background-color: #ccd2de;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable tbody tr:hover,
.smallModule .selectDrugFrame .tableMemmberInfoContent .bottomTable tbody tr:hover{
    background-color: #a6a8f0;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable .bottomTableDeleteBtn {
    width: 26px;
    height: 26px;
    background: url("../images/common/delete.png") no-repeat center;
    border: none;
    position: relative;
    left:20px;
    top:7px;
}
@-moz-document url-prefix(){
    .smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent .bottomTable .bottomTableDeleteBtn{
        top:-4px;
    }
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivFirstZero{
    font-size: 14px;
    font-family: Source Han Sans CN Medium, Source Han Sans CN Medium-Medium;
    font-weight: 500;
    color: #6d6d6d;
    position: absolute;
    top: 30px;
    left: 400px;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivFirstZero{
    font-size: 14px;
    font-family: Source Han Sans CN Medium, Source Han Sans CN Medium-Medium;
    font-weight: 500;
    color: #6d6d6d;
    position: absolute;
    top: 20px;
    left: 350px;
    z-index: 20000;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivFirst input{
    width: 60px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    position: absolute;
    top: 33px;
    left: 800px;
    z-index: 1;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivFirst input{
    width: 60px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    position: absolute;
    top: 3px;
    left: 620px;
    z-index: 1;
    z-index: 20000;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivFirst .footerPaginationDivBtn{
    position: absolute;
    top: 35px;
    left: 880px;
    background: #487cf7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivFirst .footerPaginationDivBtn{
    position: absolute;
    top: 5px;
    left: 700px;
    background: #487cf7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    z-index: 20000;
}
.speialDiv{
    position: relative;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputFirst{
    margin-left: 70px;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond{
    position: absolute;
    top: 5px;
    left: 545px;
    /*background-color: #282b33;*/
    height: 100%;
    width: 150px;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivSecond{
    position: absolute;
    top: 5px;
    left: 400px;
    /*background-color: #282b33;*/
    height: 100%;
    width: 150px;
    z-index: 20000;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputFirst{
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/left.png") no-repeat center center;
    position: absolute;
    left: 440px;
    top: 30px;
    border: none;
    cursor: pointer;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputFirst{
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/left.png") no-repeat center center;
    position: absolute;
    left: 370px;
    top: 0px;
    border: none;
    cursor: pointer;
    z-index: 20000;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputThird{
    width: 26px;
    height: 35px;
    position: absolute;
    left: 480px;
    top: 30px;
    border: none;
    z-index: 100;
    text-align: center;
    background-color: #b5b5b5;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputThird{
    width: 26px;
    height: 35px;
    position: absolute;
    left: 480px;
    top: 0px;
    border: none;
    z-index: 100;
    text-align: center;
    background-color: #b5b5b5;
    z-index: 20000;
}
.smallModule .goodsInfo .goodsInfoContent .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputSecond{
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/right.png") no-repeat center center;
    position: absolute;
    left: 508px;
    top: 30px;
    border: none;
    cursor: pointer;
}
.smallModule .selectDrugFrame .footerPagination .footerPaginationDivSecond .footerPaginationDivSecondInputSecond{
    width: 42px;
    height: 38px;
    background: #fff url("../images/common/right.png") no-repeat center center;
    position: absolute;
    left: 508px;
    top: 0px;
    border: none;
    cursor: pointer;
    z-index: 19999;
}
.smallModule .goodsInfo .goodsInfoContent .tableMemmberInfoContent{
    position: absolute;
    left:60px;
    top:90px;
}
.smallModule .ordersInfo {
    width: 1182px;
    height: 304px;
    position: relative;
    left: -60px;
}
.smallModule .ordersInfo .ordersInfoHeader{
    width: 100%;
    height: 60px;
    background-color:rgb(241,245,255);
}
.smallModule .ordersInfo .ordersInfoContent{
    width: 100%;
    height: 244px;
    /*background-color: #195bb4;*/
    position: relative;
}
.smallModule .ordersInfo .ordersInfoContent .col {
    float: left;
    margin-right: 10px;
    line-height: 40px;
    font-size: 16px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
}
.smallModule .ordersInfo .ordersInfoContent .col:nth-child(1){
    width:450px;
    height: 50%;
    margin-left: 50px;
    position: absolute;
    top:35px;
    /*background-color: #e54b3f;*/
}
.smallModule .ordersInfo .ordersInfoContent .col:nth-child(2){
    width: 300px;
    height: 50%;
    position: absolute;
    top:35px;
    left: 450px;
    /*background-color: #282b33;*/
}
.smallModule .ordersInfo .ordersInfoContent .col:nth-child(3){
    width: 200px;
    height: 50%;
    position: absolute;
    top:35px;
    left: 750px;
    /*background-color: #a6a8f0;*/
}
.smallModule .ordersInfo .ordersInfoContent .sendBtn{
    width: 100px;
    height: 40px;
    background: #487cf7;
    border-radius: 3px;
    border: none;
    position: absolute;
    top:175px;
    left: 50px;
    font-size: 14px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
/*左侧logo和导航栏样式*/
.left{
    /*background-color: chartreuse;*/
    height: 100%;
    width: 14%;
    _width: 13%;
    float: left;
}
.left .logo{
    width: 100%;
    height: 88px;
    background: linear-gradient(#383a43 0%, #292b35 100%);
}
.left .logo img {
    width: 146px;
    height: 49px;
    margin: 20px 0 0 50px;
}


.left .leftNav{
    width: 100%;
    height: 1072px;
    background: #424651;
}
.leftNav .nav {
    width: 100%;
    height: 100%;
    list-style: none;
}
.leftNav .nav li{
    width: 100%;
    height: 60px;
    background: #424651;
}
.leftNav .nav .highLights,
.leftNav .nav li:hover{
    background: linear-gradient(#4077f8 1%, #373a43 100%);
}
.leftNav .nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: left;
    color: #a0abbf;
    line-height: 60px;
    letter-spacing: 1px;
    padding-left: 60px;
    _width: 86px;
}
.leftNav .nav li a .leftNavIcon {
    /*display: inline-block;*/
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 35px;
    margin-top: 19px;
}
.leftNav .nav li:nth-child(1) .leftNavIcon{
    background: url("../images/index/home.png") no-repeat;
}
.leftNav .nav li:nth-child(2) .leftNavIcon{
    background: url("../images/index/order.png") no-repeat;
}
.leftNav .nav li:nth-child(3) .leftNavIcon{
    background: url("../images/index/inventory.png") no-repeat;
}
.leftNav .nav li:nth-child(4) .leftNavIcon{
    background: url("../images/index/drug.png") no-repeat;
}
.leftNav .nav li:nth-child(5) .leftNavIcon{
    background: url("../images/index/account.png") no-repeat;
}
.leftNav .nav li:nth-child(6) .leftNavIcon{
    background: url("../images/index/agent.png") no-repeat;
}
.leftNav .nav li:nth-child(7) .leftNavIcon{
    background: url("../images/index/store.png") no-repeat;
}
.leftNav .nav li a .leftNavTangle {
    display: inline-block;
    /*float: right;*/
    width: 10px;
    height: 5px;
    background: url("../images/index/down arrow.png") no-repeat;
    margin: 29px 0 0 50px;
    padding: 0;
}
.leftNav .nav li .left-index{
    text-align: left;
    padding-left: 60px;
    _width: 86px;
}
.leftNav .nav li .left-index .leftNavTangle{
    margin-left: 80px;
}


/*右侧导航栏和内容区样式*/
.right {
    background-color: cadetblue;
    height: 100%;
    width: 86%;
    _width: 83%;
    float: left;
}
.right .rightNav{
    width: 100%;
    height: 18px;
    background: #ffffff;
    padding: 33px 30px 37px 30px;
}
.right .rightNav .shopInfo .blueIcon{
    float: left;
    width: 26px;
    height: 26px;
    margin-right: 14px;
    margin-top: -3px;
    background: url("../images/index/hospital.png");
}
.right .rightNav .pharmacyName{
    width: 96px;
    height: 18px;
    font-size: 18px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: bold;
    text-align: left;
    color: #487cf7;
    letter-spacing: 1px;
}
.right .rightNav .shopInfo{
    margin-left: 20px;
}
.right .rightNav .controlBoard .smallIcon{
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 12px;
    margin-top: -2px;
}
.right .rightNav .controlBoard div:nth-child(1) .smallIcon{
    background: url("../images/index/me.png") no-repeat;
}
.right .rightNav .controlBoard div:nth-child(2) .smallIcon{
    background: url("../images/index/date.png") no-repeat;
}
.right .rightNav .controlBoard{
    float: right;
    margin-right: 60px;
}
.fontIntroduce{
    margin-left: 20px;
}
.right .rightNav .controlBoard .adminAccount,
.right .rightNav .controlBoard .joinDate,
.right .rightNav .controlBoard .changepwd,
.right .rightNav .controlBoard .logout{
    float: left;
    margin-left: 15px;
}
.right .rightNav .controlBoard .adminAccount,
.right .rightNav .controlBoard .joinDate{
    margin-top: 8px;
}


.right .content {
    background-color: rgb(238,238,238);
    width: 100%;
    height: 1042px;
    padding: 31px 0 0 20px;
}
.right .content .rightContentTop .dataShow {
    width: 96%;
    height: 420px;
    background-color: white;
    box-shadow: 0px 1px 24px 1px #e7e7e7;
    border-radius: 5px;
    margin: 40px 0 30px 20px;
}
.right .content .rightContentBottom .dataShow {
    width: 96%;
    height: 270px;
    background-color: white;
    box-shadow: 0px 1px 24px 1px #e7e7e7;
    border-radius: 5px;
    margin: 40px 0 30px 20px;
}
.right .content .rightContentTop .dataShow .firstRowData .first{
    background: linear-gradient(#3e75ff 0%, #5f8dff 100%);
    float: left;
}
.right .content .rightContentTop .dataShow .firstRowData .second{
    background: linear-gradient(#7878e6 0%, #a6a8f0 100%);
    float: left;
}
.right .content .rightContentTop .dataShow .firstRowData .third{
    background: linear-gradient(#fe756b 0%, #e54b3f 100%);
    float: left;
}
.right .content .rightContentTop .dataShow .secondRowData{
    clear: both;
}
.right .content .rightContentTop .dataShow .secondRowData .first{
    /*background: linear-gradient(#738cfe 0%, #bca5fc 100%);*/
    background: url("../images/index/purple.png") no-repeat;
    float: left;
}
.right .content .rightContentTop .dataShow .secondRowData .second{
    /*background: linear-gradient(#ffae65 0%, #fece71 100%);*/
    background: url("../images/index/orange.png") no-repeat;
    float: left;
}
.right .content .rightContentTop .dataShow .secondRowData .third{
    /*background: linear-gradient(#3e75ff 0%, #5f8dff 100%);*/
    background: url("../images/index/blue.png") no-repeat;
    float: left;
}
.right .content .rightContentTop .dataShow .showDetail{
    clear: both;
    margin-left: 30px;
    padding-top: 30px;
}
.right .content .rightContentTop .dataShow .firstRowData,
.right .content .rightContentTop .dataShow .secondRowData{
    padding: 30px 0 0 0;
}
.right .content .rightContentBottom .dataShow .firstRowData .first{
    background: #edf6ff;
    float: left;
}
.right .content .rightContentBottom .dataShow .firstRowData .second{
    background: #edf6ff;
    float: left;
}
.right .content .rightContentBottom .dataShow .firstRowData .third{
    background: #edf6ff;
    float: left;
}
.right .content .rightContentBottom .dataShow .firstRowData{
    padding-top: 30px;
}
.right .content .rightContentBottom .dataShow .showDetail{
    clear: both;
    margin-left: 30px;
    padding-top: 30px;
}
.right .content .rightContentTop .dataShow .totalAmount,
.right .content .rightContentTop .dataShow .fontInstruction,
.right .content .rightContentTop .dataShow .BigPic{
    position: absolute;
}
.right .content .rightContentTop .dataShow .totalAmount{
    left: 24px;
    top: 22px;
    font-size: 26px;
    font-family: "Source Han Sans CN Bold", "Source Han Sans CN Bold-Bold";
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
.right .content .rightContentTop .dataShow .fontInstruction{
    left: 24px;
    top: 74px;
    font-size: 14px;
    font-family: "Source Han Sans CN Bold", "Source Han Sans CN Bold-Bold";
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
.right .content .rightContentTop .dataShow .BigPic {
    left: 200px;
    top: 28px;
    width: 69px;
    height: 69px;
}
.right .content .rightContentTop .dataShow .firstRowData .first .BigPic {
    background: url("../images/index/money.png") no-repeat;
}
.right .content .rightContentTop .dataShow .firstRowData .second .BigPic {
    background: url("../images/index/order_1.png") no-repeat;
}
.right .content .rightContentTop .dataShow .firstRowData .third .BigPic {
    background: url("../images/index/singular.png") no-repeat;
}
.right .content .rightContentBottom .dataShow .totalAmountBottom{
    position: absolute;
    left: 120px;
    top: 22px;
    font-size: 26px;
    font-family: "Source Han Sans CN Bold", "Source Han Sans CN Bold-Bold";
    font-weight: 700;
    color: #424651;
}
.right .content .rightContentBottom .dataShow .fontInstructionBottom{
    position: absolute;
    left: 100px;
    top: 74px;
    font-size: 14px;
    font-family: "Source Han Sans CN Medium", "Source Han Sans CN Medium-Medium";
    font-weight: 500;
    color: #424651;
}
.right .content .rightContentBottom .dataShow .iconBottom {
    float: left;
    width: 22px;
    height: 22px;
    background-color: #e54b3f;
    margin-top: -4px;
}
.right .content .rightContentBottom .dataShow .firstRowData div:nth-child(1) .iconBottom {
    background: url("../images/index/varieties.png") no-repeat;
}
.right .content .rightContentBottom .dataShow .firstRowData .second .fontInstructionBottom .iconBottom{
    background: url("../images/index/warning.png") no-repeat;
}
.right .content .rightContentBottom .dataShow .firstRowData div:nth-child(3) .iconBottom {
    background: url("../images/index/warning_1.png") no-repeat;
}
.right .content .rightContentBottom .dataShow .fontInstructionSpan{
    margin-left: 5px;
}


/*公共部分样式*/
.icon{
    margin-right: 10px;
}
.wh{
    width: 300px;
    height: 120px;
    border-radius: 5px;
    margin-left: 30px;
    position: relative;
}
.deepBlueBtn{
    width: 100px;
    height: 40px;
    background: #487cf7;
    border-radius: 20px;
    cursor: pointer;
}
.blueBtn{
    width: 100px;
    height: 40px;
    background: #d0d7fd;
    border: 1px solid #487cf7;
    border-radius: 20px;
    cursor: pointer;
}
.btn{
    width: 100px;
    height: 32px;
    background: #fff;
    border: 1px solid #ccd2de;
    border-radius: 16px;
}
.jianjie{
    width: 108px;
    height: 18px;
    font-size: 18px;
    font-family: "Source Han Sans CN Bold", "Source Han Sans CN Bold-Bold";
    font-weight: 700;
    text-align: left;
    color: #333333;
}
.accountInfo{
    width: 100px;
    height: 15px;
    font-size: 14px;
    font-family: "Source Han Sans CN Regular", "Source Han Sans CN Regular-Regular";
    font-weight: 400;
    text-align: left;
    color: #333333;
    letter-spacing: 1px;
}
.accountPrefix{
    font-weight: bold;
}
.fontIntroduceCreaterOrder{
    float: left;
    height: 100%;
    line-height: 60px;
    margin-left: 30px;
    font-size: 18px;
    font-family: Source Han Sans CN Bold, Source Han Sans CN Bold-Bold;
    font-weight: 700;
    color: #333333;
}
.fontMemmberInfoContent{
    font-size: 14px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    font-weight: 400;
    text-align: left;
    color: #565656;
    margin-right: 5px;
}
.inputMemmberInfoContent{
    width: 160px;
    height: 40px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 16px 1px rgba(212,212,212,0.53);
    border: 1px solid #b5b5b5;
}
